.root{
    .header{
        width: 100%;
        height: 100vh;
        position: relative;
        padding-top: 20vh;
    }
    .stacks{
        background-color: black;
        padding: 10vh 0;
    }
    .case{
        padding: 5vh 0;
        padding-bottom: 10rem;
        position: relative;
        width: 100%;
        background-color: black;
        .caseBlock{
            width: 80%;
            margin: 0 auto;
            position: relative;
        }
    }
}

@media screen and (max-width: 1400px){
    .root{
        .case{
            .caseBlock{
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 837px){
    .root{
        .case{
            .caseBlock{
                width: 90%;
            }
        }
    }
}